{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" media="all"
    href="{% static "home/home.css" %}"></link>
<div class="home-content">
    <div class="showcase container-fluid"></div>
    <div class="site-parts container">
        <div class="col-lg-3">
            <div class="site-parts__box site-parts__box--about-us text-center">
                <h2>Видео</h2>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="site-parts__box site-parts__box--products text-center">
                <h2>Работы</h2>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="site-parts__box site-parts__box--acril text-center">
                <h2>Акрил</h2>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="site-parts__box site-parts__box--news text-center">
                <h2>Новости</h2>
            </div>
        </div>
    </div>
</div>
{%  endblock %}
