<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Malinina Art</title>
    <!--<link rel="stylesheet" type="text/css" media="all" href="-->
        <!--https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">-->
    {% load static %}
    <link rel="stylesheet" type="text/css" media="all"
        href="{% static "bootstrap.min.css" %}"></link>
    <!--<link rel="stylesheet" type="text/css" media="all"
        href="{% static "components.css" %}"></link>-->
    <link rel="stylesheet" type="text/css" media="all"
        href="{% static "base.css" %}"></link>
    <script async src="{% static "jquery-2.1.3.min.js" %}"
        type="text/javascript">
    </script>
    <script async src="{% static "bootstrap.min.js" %}" type="text/javascript">
    </script>
    <link href='http://fonts.googleapis.com/css?family=Marck+Script&subset=latin,cyrillic' rel='stylesheet' type='text/css' />
    <!--<script src="
        https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js">
    </script>-->
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#nav_menu_collapse">
                    Menu
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
            <div id="nav_menu_collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav text-center">
                    <li><a href="#">Работы</a></li>
                    <li><a href="#">Галерея</a></li>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">О нас</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
