.navbar {
    margin-top: 50px;
    z-index: 1;
}

.navbar .container {
    background: #fff;
    border-radius: 10px;
    padding-left: 0;
}

.navbar-brand {
    border-radius: 10px;
    background: #f05672;
    color: #fff;
}

.home-content {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.showcase {
    border: 1px solid;
    height: 400px;
}

.site-parts {
    margin-top: -10px;
}

.site-parts__box {
    border-top: 10px solid;
    height: 400px;
}

.site-parts__box--about-us {
    border-top-color: #f06656;
}

.site-parts__box--products {
    border-top-color: #66cdbb;
}

.site-parts__box--acril {
    border-top-color: #8dc63f;
}

.site-parts__box--news {
    border-top-color: #ddbd30;
}

.site-parts__box h2 {
    font-family: Marck Script;
}

ul li {
    padding-left: 0;
}
